{% extends "base.html" %}

{% block content %}
  {% load staticfiles %}
  <h1>{{ room.label }}</h1>
  <p class="quiet">
    Anyone with this URL can join the room and chat: 
    <code>{{ request.scheme }}://{{ request.get_host }}/{{ room.label }}</code> 
  </p>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td><img class="img-circle" src='{{ message.owner.avatar_image.url }}'/></td>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <button type="submit" id="go">Say it</button>
        </td>
      </tfoot>
    </table>
  </form>
{% endblock content %}

{% block afterbody %}
  <script type="text/javascript" src='{% static "js/jquery.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript">
    $(function() {
        // When we're using HTTPS, use WSS too.
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
        var chatsock = new ReconnectingWebSocket(ws_scheme + '://' + window.location.host + "/chat" + window.location.pathname);
        
        chatsock.onmessage = function(message) {
            var data = JSON.parse(message.data);
            var chat = $("#chat")
            var ele = $('<tr></tr>')
            
            ele.append(
                $("<td></td>").append('<img class="img-circle" src=' + data.avatar_image_url + '/>')
            )

            ele.append(
                $("<td></td>").text(data.timestamp)
            )

            ele.append(
                $("<td></td>").text(data.message)
            )
            
            chat.append(ele)
        };

        $("#chatform").on("submit", function(event) {
            var message = {
                owner: {{ request.user.profile.pk }},
                message: $('#message').val(),
            }
            chatsock.send(JSON.stringify(message));
            $("#message").val('').focus();
            return false;
        });
    });    
  </script>
{% endblock afterbody %}
